body{
    background-color: aqua;
}

.assunto1{
    background-color: brown;
    width: 100%;
    height: 650px;
}
.assunto2{
    background-color: rgb(13, 208, 84);
    width: 100%;
    height: 650px;
    text-align: center;
    justify-content: center;
}
.assunto3{
    background-color: rgb(159, 13, 208);
    width: 100%;
    height: 650px;
}
.assunto4{
    background-color: rgb(94, 13, 208);
    width: 100%;
    height: 650px;
}

.texto2{
    width: 50%;
    text-align: center;

}